<html>

<head>
    <meta charset="utf-8">
    <title></title>

<body>
    <h2></h2>
    <p><b> Fill in the form bellow and submit to be added as a service provider</b></p>
    <form class=Business owner"form-inline" action="/action_page.php">

        <label for="name&surname">Name & Surname:</label>
        <input type="name" id="name" placeholder="Enter name & Surname" name="name"><br></br>
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Enter email" name="email"><br></br>
        <label for="businessName"> Business name:</label>
        <input type="BusinessName" id="" placeholder="Enter business name" name="business name"><br></br>
        <label for="businessDescription"> Business description:</label>
        <input type="BusinessName" id="" placeholder="Describe your business" name="description">       <br></br>
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" placeholder="Enter password" name="pswd"> <br></br>
 
        <label>
            <input type="checkbox" name="remember"> Remember me
        </label>

       
        <button onclick="myFunction()" type="submit">Submit</button>
    </form>
    <script>
        function myFunction() {
          alert("Form successfully submitted");
        }
   </script>

</body>
</body>
</head>

</html>