<html>
<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="row">

    <div class="head">
      <h1>The Golden Trio Network</h1>



      <div class="">
        Select between Business owner and client to start your journey with the golden trio network.
      </div>

      <br>
      </br>
      <div class="info">
        <form action="" method="post">
          <input type="radio" id="Register Your Service" required name="buyer" value="Register Your Service">
          <label for="Register Your Service">Register Your Service</label>
          <br>
          </br>
          <input type="radio" required id="Client" name="buyer" value="client">
          <label for="Client">Client</label><br>

      </div>
    </div>
  </div>
  <button class=".btn-success" type="submit" name="button">Next</button>
  </form>
</body>

</html>