<html>
<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="row">

    <div class="head">
      <h1>The Golden Trio Network</h1>



      <div class="">
        Select between Business owner and client to start your journey with the golden trio network.
      </div>

      <br>
      </br>
      <div class="info">
        <form>
          <input type="radio" id="Business Owner" name="buyer" value="Business Owner">
          <label for="Business owner">Business owner</label><br>
          <input type="radio" id="Client" name="buyer" value="Client">
          <label for="Client">Client</label><br>

        </form>
      </div>
    </div>
  </div>
  <button class="button-primary nextBtn" type="button" name="button">Next</button>

</body>

</html>